<div class="framework-header">
	<div class="header-logo hidden-xs hidden-sm">
		<a href="{:url('@admin')}">
			<span class="icon-logo">{:system_config('app_name')} <sup>{:system_config('app_version')}</sup></span>
		</a>
	</div>
	<div class="header-box" role="navigation" aria-expanded="true">
		<ul class="header-menu nav navbar-nav navbar-left">
			{foreach $menus as $p_menu}
			{present name="p_menu.sub"}
			<li data-header-menu data-menu-tab="m-{$p_menu.id}">
				<a>{present name="p_menu.icon"}{notempty name='$p_menu.icon'}<i class="{$p_menu.icon}"></i>{/notempty}{/present} {$p_menu.title}</a>
			</li>
			{else}
			<li data-header-menu data-menu-node="m-{$p_menu.id}" data-open="{$p_menu.url}">
				<a>{present name="p_menu.icon"}{notempty name='$p_menu.icon'}<i class="{$p_menu.icon}"></i>{/notempty}{/present} {$p_menu.title}</a>
			</li>
			{/present}
			{/foreach}
		</ul>
		<ul class="header-info nav navbar-nav navbar-right hidden-xs">
			<li class="header-btn layui-nav-item" data-reload data-tips-text='刷新'>
				<a><i class='glyphicon glyphicon-refresh'></i></a>
			</li>
			<li class="dropdown">
				<a class="header-user dropdown-toggle" data-toggle="dropdown">
					<span class='glyphicon glyphicon-user'></span> {:session('admin.username')} </span>
					<span class="glyphicon glyphicon-menu-up transition" style="font-size:12px"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a data-modal="{:url('admin/index/pass')}?id={:session('user.id')}">
							<span><i class='glyphicon glyphicon-lock'></i> 修改密码</span>
						</a>
					</li>
					<li>
						<a data-modal="{:url('admin/index/info')}?id={:session('user.id')}">
							<span><i class='glyphicon glyphicon-edit'></i> 修改资料</span>
						</a>
					</li>
					<li>
						<a data-load="{:url('admin/login/out')}" data-confirm='确定要退出登录吗？'>
							<span><i class="glyphicon glyphicon-log-out"></i> 退出登录</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>