<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('class parent')}</label>
		<div class="layui-input-block">
			<select name='pid' class='layui-select full-width' style='display:block'>
				{foreach $classes as $class}
				{eq name='class.id' value='$data.pid|default=0'}
				<option selected value='{$class.id}'>{$class.spl}{$class.name}</option>
				{else}
				<option value='{$class.id}'>{$class.spl}{$class.name}</option>
				{/eq}
				{/foreach}
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('class name')}</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="name" value="{$data.name|default=''}" required="required" placeholder="{:lang('input prompt', ['prompt' => lang('class name')])}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">{:lang('class byname')}</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="byname" value="{$data.byname|default=''}" placeholder="{:lang('input prompt', ['prompt' => lang('class byname')])}">
		</div>
	</div>
	<div class="hr-line-dashed"></div>
	<div class="layui-form-item text-center">
		{if isset($data['id'])}<input type='hidden' value='{$data.id}' name='id'/>{/if}
		<button class="layui-btn" type='submit'>{$Think.lang.save}</button>
		<button class="layui-btn layui-btn-danger" type='button' data-confirm="{$Think.lang.cancel_confirm}" data-close>{$Think.lang.cancel}</button>
	</div>
</form>
